.Button {
  transition: all 0.2s ease;
  cursor: pointer;
  border-radius: 4px;
  background: blue;
  width: fit-content;
  margin: 5px;
  color: white;
  padding: 8px 10px;
}

.Button:hover {
  filter: grayscale(0.5);
}