$primary-color: #4caf50;
$secondary-color: #ff5722;
$text-color: #333;
$background-color: #f5f5f5;
$card-bg-color: #2bb134;
$box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

body {
  background-color: $background-color;
  color: $text-color;
  font-family: 'Arial', sans-serif;
}

nav {
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  

  .nes-input {
    padding: 10px;
    border: 2px solid $primary-color;
    border-radius: 5px;
    width: 100%;
    max-width: 300px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;

    &:focus {
      outline: none;
      border-color: $secondary-color;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
  }
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 30px;
  height: calc(100vh - 240px);
  width: 80%;
  margin: 0 auto;
  overflow-y: auto;
  background-color: $background-color;

  article {
    margin: 15px 0;
    width: 100%;
    max-width: 100%;
    background-color: $card-bg-color;
    padding: 20px;
    border-radius: 8px;
    box-shadow: $box-shadow;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    }

    img {
      max-width: 100px;
      
    }

    p {
      margin: 10px 0;
      color: $text-color;
      font-size: 18px;
    }

    .favorite-icon {
      width: 30px;
      height: 30px;
    }

    .btns-card {
      background-color: transparent;
      border: none;
      color: white;
      padding: 10px;
      padding-right: 6px;
      border-radius: 40%;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &.favorite {
        background-color: $secondary-color;
      }

      &:hover {
        background-color: darken($secondary-color, 10%);
      }
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;

  button {
    background-color: $primary-color;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;

    &:hover {
      background-color: darken($primary-color, 10%);
      transform: translateY(-3px);
    }

    &:disabled {
      background-color: lighten($primary-color, 20%);
      cursor: not-allowed;
    }
  }

  span {
    margin: 0 10px;
    color: $text-color;
    font-size: 16px;
  }
}
.nav-fav{
  font-size: 150%;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; // Full height of the viewport
}

.loading-spinner {
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
