$primary-color: #4caf50;
$secondary-color: #ff5722;
$text-color: #333;

nav {
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  justify-content: center;

  .nes-input {
    padding: 10px;
    border: 2px solid $primary-color;
    border-radius: 5px;
    width: 100%;
    max-width: 300px;

    &:focus {
      outline: none;
      border-color: $secondary-color;
    }
  }
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  height: calc(100vh - 240px); // Restar altura del nav
  width: 80%;
  margin: 0 auto;
  overflow-y: auto;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  article {
    margin: 10px 0;
    width: 100%;
    max-width: 100%;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;

  button {
    background-color: $primary-color;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: darken($primary-color, 10%);
    }

    &:disabled {
      background-color: lighten($primary-color, 20%);
      cursor: not-allowed;
    }
  }

  span {
    margin: 0 10px;
    color: $text-color;
    font-size: 16px;
  }
}
