$primary-color: #4caf50;
$secondary-color: #ff5722;
$text-color: #333;
$background-color: #f5f5f5;
$card-bg-color: #2bb134;
$box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

body {
  background-color: $background-color;
  color: $text-color;
  font-family: "Arial", sans-serif;
}

nav {
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  justify-content: center;

  .nes-input {
    padding: 10px;
    border: 2px solid $primary-color;
    border-radius: 5px;
    width: 100%;
    max-width: 300px;
    min-width: 300px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;

    @media (max-width: 510px) {
      min-width: 70%;
    }
    @media (max-width: 420px) {
      min-width: 60%;
    }

    &:focus {
      outline: none;
      border-color: $secondary-color;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
  }
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 30px;
  height: calc(100vh - 240px);
  width: 80%;
  margin: 0 auto;
  overflow-y: auto;
  background-color: $background-color;

  article {
    margin: 15px 0;
    width: 100%;
    max-width: 100%;
    background-color: $card-bg-color;
    padding: 20px;
    border-radius: 8px;
    box-shadow: $box-shadow;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    }

    img {
      max-width: 100px;
    }

    p {
      margin: 10px 0;
      color: $text-color;
      font-size: 18px;
    }

    .favorite-icon {
      width: 30px;
      height: 30px;
    }

    .btns-card {
      background-color: transparent;
      border: none;
      color: white;
      padding: 10px;
      padding-right: 15px;
      border-radius: 20%;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &.favorite {
        background-color: $secondary-color;
      }

      &:hover {
        background-color: darken($secondary-color, 10%);
      }
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;

  button {
    background-color: $primary-color;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;

    &:hover {
      background-color: darken($primary-color, 10%);
      transform: translateY(-3px);
    }

    &:disabled {
      background-color: lighten($primary-color, 20%);
      cursor: not-allowed;
    }
  }

  span {
    margin: 0 10px;
    color: $text-color;
    font-size: 16px;
  }
}
.nav-fav {
  font-size: 150%;
}

.favorite-icon {
  margin-left: 10px;
  width: 60px;
  height: 30px;
}

.btn-fav {
  color: #000000;
}
.btn-fav {
  margin-left: 2%;
  max-width: 120px;
  align-items: center;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  padding: 10px;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  cursor: pointer;
}

.btn-fav:active,
.btn-fav:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .btn-fav {
    font-size: 24px;
    width: 196px;
  }
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loading-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading-spinner {
  width: 150px;
  height: 100px;
}

.loading-text {
  margin-top: 10px;
  font-size: 18px;
}

//FAVORITE LIST

.nav-fav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.title-fav {
  flex-grow: 1;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #000000;
  margin-left: -9.5%;
}

@media (max-width: 440px) {
  .title-fav {
    font-size: 25px;
    margin-left: auto;
  }
}

.btn-back {
  background-color: #fff;
  border: 1 solid #000000;
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: #0d172a;
  cursor: pointer;
  display: flex;
  font-family: "Basier circle", -apple-system, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1;
  padding: 1rem 1.6rem;
  text-align: center;
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
}

.btn-back:hover {
  background-color: #1e293b;
  color: #fff;
}

@media (min-width: 768px) {
  .btn-back {
    font-size: 1.125rem;
    padding: 1rem 2rem;
  }
}

.div-FavoritesEmpty {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.FavoritesEmptyIMG {
  margin-left: 10%;
  width: 50%;
}
